/* Custom fonts (Grotesk) */
@font-face {
  font-family: "Grotesk Black";
  src: url("RightGrotesk-Black.woff") format("woff");
}

@font-face {
  font-family: "Grotesk Dark";
  src: url("RightGrotesk-Dark.woff") format("woff");
}

@font-face {
  font-family: "Grotesk Medium";
  src: url("RightGrotesk-Medium.woff") format("woff");
}

@font-face {
  font-family: "Grotesk NarrowBlack";
  src: url("RightGrotesk-NarrowBlack.woff") format("woff");
}

@font-face {
  font-family: "Grotesk TightBlack";
  src: url("RightGrotesk-TightBlack.woff") format("woff");
}

:root {
  /* Responsive Typography */
  --fs-l: clamp(4.8rem, 8vw + 1rem, 6.2rem);
  --fs-400-desktop: 2.4rem;
  --fs-400-mobile: 2.2rem;

  /* Colours */
  --black: #242424;
  --red: #C93022;
  --grey: #757575;
  --white: #FFFFFF;
}

/* Custom Styling */
.collection__title {
  padding-left: 8rem !important;
}

.collection__title h2 {
  font-family: "Grotesk Black";
  font-size: var(--fs-l);
  line-height: 3.6rem;
  color: #242424;
  margin-bottom: 6.2rem !important;
}

.card__heading {
  text-align: center;
}

.h5 {
  font-family: "Grotesk Black";
  font-size: var(--fs-400-desktop);
  text-transform: uppercase;
  color: #242424;
}

.card__badge {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -1.5rem;
  white-space: nowrap;
}

.badge {
  font-family: "Grotesk TightBlack";
  font-size: var(--fs-400-desktop);
  text-transform: uppercase;
  border-radius: 0;
}

.color-sold-out {
  background:var(--grey);
  color: var(--white);
}

.color-on-sale {
  background: var(--red);
  color: var(--white);
}

.color-bestseller {
  background: var(--black) !important;
  color: var(--white);
}

.price {
  text-align: center;
}

.price-item {
  font-family: "Grotesk Medium";
  font-size: var(--fs-400-desktop) !important;
}

.price-item--regular {
  color: #242424 !important;
  font-size: var(--fs-400-desktop) !important;
}

.price-item--sale {
  color: var(--red);
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-family: 'none' !important;
  content: '' !important;
}

.slide-next, .slide-prev {
  width: 4rem !important;
  height: 4rem !important;
}

.slide-prev {
  background-image: url('prev-button.svg');
  background-repeat: no-repeat;
  left: 2rem;
}

.slide-prev:disabled::after {
  opacity: 0.5;
}

.slide-next {
  background-image: url('next-button.svg');
  background-repeat: no-repeat;
  right: 2rem;
}

.last-slide {
  align-self: center;
}

.last-slide a {
  font-family: 'Grotesk NarrowBlack';
  font-size: var(--fs-400-desktop);
  color: var(--black);
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
}

.last-slide a:hover {
  text-decoration: underline;
}

/* Media Queries */
@media screen and (max-width: 589px) {
  .collection__title {
    padding-left: 3.2rem !important;
  }

  .card-wrapper {
    padding: 2rem;
  }

  .badge,
  .h5,
  .price-item,
  .last-slide a {
    font-size: var(--fs-400-mobile) !important;
  }

  .last-slide a {
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  .collection__title h2 {
    margin-bottom: 1rem !important;
  }
}