/* Custom fonts (Grotesk) */
@font-face {
  font-family: "Grotesk Black";
  src: url("RightGrotesk-Black.woff") format("woff");
}

@font-face {
  font-family: "Grotesk Dark";
  src: url("RightGrotesk-Dark.woff") format("woff");
}

@font-face {
  font-family: "Grotesk Medium";
  src: url("RightGrotesk-Medium.woff") format("woff");
}

@font-face {
  font-family: "Grotesk NarrowBlack";
  src: url("RightGrotesk-NarrowBlack.woff") format("woff");
}

@font-face {
  font-family: "Grotesk TightBlack";
  src: url("RightGrotesk-TightBlack.woff") format("woff");
}

/* Custom Styling */

.collection__title {
  padding-left: 8rem !important;
}

@media screen and (max-width: 589px) {
  .collection__title {
    padding-left: 3.2rem !important;
  }
}

.collection__title h2 {
  font-family: "Grotesk Black";
  font-size: 6.2rem;
  line-height: 3.6rem;
  vertical-align: center;
  color: #242424;
  margin-bottom: 6.2rem !important;
}

.card__heading {
  text-align: center;
}

.h5 {
  font-family: "Grotesk Black";
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #242424;
}

.card__badge {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -1.5rem;
  white-space: nowrap;
}

.badge {
  font-family: "Grotesk TightBlack";
  font-size: 2.4rem !important;
  text-transform: uppercase;
  border-radius: 0;
}

.color-sold-out {
  background:#757575;
  color: #FFFFFF;
}

.color-on-sale {
  background: #C93022;
  color: #FFFFFF;
}

.color-bestseller {
  background: #242424;
  color: #FFFFFF;
}

.price {
  text-align: center;
}

.price-item {
  font-family: "Grotesk Medium";
  font-size: 2.4rem !important;
}

.price-item--regular {
  color: #242424 !important;
}

.price-item--sale {
  color:#C93022;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-family: 'none' !important;
  content: '' !important;
}

.slide-next, .slide-prev {
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  width: 4rem !important;
  height: 4rem !important;
  margin-top: calc(0x - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF !important;
}

.slide-prev {
  background-image: url('prev-button.svg');
  left: 2rem;
}

.slide-prev:disabled::after {
  opacity: 0.5;
}

.slide-next {
  background-image: url('next-button.svg');
  right: 2rem;
}

.last-slide {
  align-self: center;
}

.last-slide a {
  font-family: 'Grotesk NarrowBlack';
  font-size: 2.4rem;
  color: #242424;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
}

.last-slide a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .collection__title h2 {
    font-size: 4.8rem;
    margin-bottom: 4.8rem !important;
  }

  .badge {
    font-size: 1.8rem !important;
  }

  .h5 {
    font-size: 1.8rem;
  }

  .price-item {
    font-size: 1.8rem !important;
  }
}